/*== Import google font ==*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

/*== Site margin etc. ==*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*== Color ==*/
:root {
    --primary: #000;
    --sec: #333;
    --ter: #fff;
    --text: green;
    --bg: #f5f5f5;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 13px;
    line-height: 1.6rem;
    color: var(--sec);
}

h1,
h2,
h3,
h4,
.subHeading,
.fa-brands {
    color: var(--primary);
}

/*== Main Header ==*/
#home {
    height: 100vh;
    background-image: linear-gradient(to right bottom,
            #ffffff60,
            rgba(255, 255, 255, 0.85)),
        url(../img/bg.png);
    background-size: cover;
    background-position: bottom;
    position: sticky;
    bottom: 0
}

/*== Heading ==*/
h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 4.2rem;
    line-height: 5.2rem;
    text-transform: uppercase;
    letter-spacing: 2px;
}

p {
    margin-block-start: .5rem;
    margin-block-end: .5rem;
}

.heading {
    display: block;
    animation-name: moveInLeft;
    animation-duration: 3s;
}

/*== Animation ==*/
@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-200px);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

.subHeading {
    display: block;
    font-size: 15px;
    font-weight: 300;
    letter-spacing: 5.3px;
    line-height: 16px;
    animation-name: moveInRight;
    animation-duration: 3s;
    text-align: center;

}

/*== Animation ==*/
@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(200px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

/*== Logo ==*/
.logo {

    height: 75px !important;
    top: 40% !important;
    animation-name: moveInTop;
    animation-duration: 5s;

}

@keyframes moveInTop {
    0% {
        opacity: 0;
        transform: translateZ(0);

    }

    100% {
        opacity: 1;
        transform: translateZ(200);
    }
}


.box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*== NAVBAR ==*/

#NavBar {
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    color: #444444;
    z-index: 100;
    display: inline-flex;
    bottom: inherit;
    z-index: 1;
    animation-name: navMovInTop;
    animation-duration: 3s;
}


.NavSec {
    display: inline-flex;
    justify-content: center;
    width: 65rem;
    margin: 0 auto;
}

.navLeft {
    width: 8%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.navMiddle {
    width: 60%;
    display: inline-flex;
    align-items: center;
    justify-content: space-around;
}

.navRight {
    width: 32%;
    display: inline-flex;
    align-items: center;
    justify-content: space-around;
}

.navLogo {
    height: 50px !important;
    padding-top: 10px;
}

.inlineBlock {
    display: contents;
}

/*== NAVBAR Animation ==*/
@keyframes navMovInTop {
    0% {
        opacity: 0;
        transform: translateY(-200);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}


li {
    display: inline-block;
    font-size: 14px;
    margin-left: 30px;
    margin-right: 30px;
}

a {
    text-transform: uppercase;
    text-decoration: none;
    color: #444444;
}

.navH:hover {
    color: var(--ter);
    background-color: var(--primary);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: -30px;
    margin-right: -30px;
}

/*== About Me ==*/
.main {
    max-width: 110rem !important;
}

.my-profile {
    display: block;
    height: 38.5rem;
    z-index: -1;
}

.my-pic {
    position: absolute;
    padding-top: 100px;
    padding-left: 30px;
}

.txtBottom {
    text-align: center;
}

.my-desc {
    background-color: #f5f5f5;
}

h3 {
    font-weight: 300;
    font-size: 1.8rem;
    color: var(--primary);
    letter-spacing: .2rem;
}

.my-desc,
.my-pic {
    width: 50%;
    z-index: inherit;
}

.profiPic {
    height: 15rem;
}

.my-profile .my-desc {
    float: right;
}

.my-profile .my-desc .inner-text {
    max-width: 600px;
    padding: 40px;
}

i {
    color: #666666;
    padding-right: 8px;
}

strong {
    font-weight: 500;
    letter-spacing: .2px;
    text-transform: uppercase;
}

.bg-dark {
    background-color: #333;
    color: var(--ter);
}

.fix-width {
    width: 6rem;
    display: inline-block;
}

.icon {
    font-size: 1.6rem;
    font-weight: 100;
    color: #333;
    padding-bottom: 10px;
}

.about {
    width: 75rem !important;
    margin: 0 auto;
    height: 13rem;
    margin-top: -28px;
    color: #000;
    display: flex;
    text-align: center;
    padding: 0px;
}

h5 {
    text-transform: uppercase;
    font-size: .9rem;
    font-weight: 200;

}

.col3 {
    display: grid;
    width: 33vw;
    height: 100%;
    padding: 80px;
    border-right: #ebebeb solid 1px;
}

.col3-1 {
    display: grid;
    width: 33vw;
    height: 100%;
    padding: 80px;
}

/*== Experience ==*/
.experience {
    background-color: var(--bg);
    width: 100% !important;
    height: 10rem;
    margin: 0 auto;
    text-align: center;
    padding-top: 3.6rem;
}

.container {
    display: block;
}

.bigText {
    font-weight: 700;
    font-size: 2rem;
    letter-spacing: .5;
    text-transform: uppercase;
}

.icon2 {
    font-size: 1rem;
    font-weight: 100;
    padding-top: 8px;
    color: var(--primary);
}

.fullWidth {
    display: block;
    width: 100%;
    padding-top: 1rem;
}

/*== Employment ==*/
.employment {
    margin: 0 auto;
    width: 80rem;
    display: flex;
    border-bottom: #ebebeb solid 1px;
}

.colum-left {
    display: grid;
    width: 50vw;
    height: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    border-right: #ebebeb solid 1px;
    text-align: right;
}

h4 {
    font-weight: 100;
    font-size: 6rem;
    color: var(--bg);
}

.colum-right {
    display: grid;
    width: 50vw;
    height: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: left;
    border-left: #ebebeb solid 1px;
}

.iconBoxLeft {
    width: 40px;
    height: 40px;
    background-color: var(--primary);
    display: inline-block;
    text-align: center;
    padding-top: 20px;
    float: left;
}

.iconBoxRight {
    width: 40px;
    height: 40px;
    background-color: var(--primary);
    display: inline-block;
    text-align: center;
    padding-top: 20px;
    padding-left: 2px;
    float: right;
}

.icon3 {
    color: var(--ter);
    font-size: 16px;
    transform: translate(2px, -10px);
}

.small {
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 0;
}

.inline {
    padding: 0px 20px 20px 20px;
    display: inline-block;
}

summary {
    padding: 0px 0px 0px 30px;
}

time {
    font-size: .6rem;
}

.smallSection {
    display: block;
    padding-right: 60px;
}

/*== Skills ==*/
#skills {
    background-color: var(--bg);
    width: 100% !important;
    height: 10rem;
    margin: 0 auto;
    text-align: center;
    padding-top: 3.6rem;
}

.skill {
    margin: 0 auto;
    width: 80rem;
    display: flex;
    border-bottom: #ebebeb solid 1px;
}

progress[value] {
    -webkit-appearance: none;
    appearance: none;
    height: 8px;
}

progress[value]::-webkit-progress-bar {
    background-color: #e7e7e7;
    border-radius: 8px;
}

progress[value]::-webkit-progress-value {
    background-color: #777;
    border-radius: 80px;
    background-size: 20px 15px, 100% 100%, 100% 100%;
}

.skillHeading {
    padding-bottom: 20px;
}

.skills {
    padding-right: 40px;
    padding-left: 40px;
    margin-block-end: .5rem;
}

.h4Small {
    font-size: 55px;
}


li:nth-child(odd) {
    color: #444444;
}

.padding {
    padding: 35px
}

footer {
    height: 120px;
    text-align: center;
    margin-bottom: 30;
    bottom: inherit;

}

a:visited {
    color: var(--primary);
}

a:hover {
    color: var(--sec);
}

.iLink {
    font-size: 12px;
    line-height: 20px;
    font-weight: 400;
    color: #444;
    text-transform: lowercase;
}

h6 {
    font-weight: 500;
}

h6,
time {
    font-size: .8rem;
}